<!--
File Name: footer.ejs
Name: Jarod Colley
StudentID: 100704994
Date: April 4th 2020
-->

<footer id="mainFooter">
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <h4 class="display-6">&copy; CopyRight 2020.</h4>
    </nav>
</footer>