<!--
File Name: head.ejs
Name: Jarod Colley
StudentID: 100704994
Date: April 4th 2020
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel='stylesheet' href='./Content/app.css' />
</head>
<body>
    
