<!--
File Name: about.ejs
Name: Jarod Colley
StudentID: 100704994
Date: April 4th 2020
-->

<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">About Me!</h1>
                <br>
                <p>
                <img class = "rounded float-left" src="../../Content/myPic.png" alt="Self Picture" style="width:250px;height:190px;margin-right:15px">
                I am currently enrolled at Durham College in the Computer Programmer Analyst 3 year course. Right now i am in my 4th semester. I am very excited to learn more in my final year and get out and apply my learnings in the work force.</p>
               <p> During my time in school i have developed skills in multiple languages such as Java, Javascript, PHP, c#, C++, COBOL, VB, and SQL and am always trying my best to expand that list in the future. </p>
               <p> I have also developed skills on ASP.net, windows forms, and WPF as well as learning how to implement databases. But most importantly I have developed strong critcal thinking and problem solving skills</p>
            </div>
    </div>
</div>

    