<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">About Me!</h1>
                <p><img src="../../Content/myPic.png" alt="Self Picture" style="width:250px;height:190px;margin-right:15px">
                I am currently enrolled at Durham College in the Computer Programmer Analyst 3 year course.</p>
            </div>
    </div>
</div>

    