<!--
File Name: home.ejs
Name: Jarod Colley
StudentID: 100704994
Date: April 4th 2020
-->

<!-- Main Content -->
<div class="row">
    <div class="col">
    </br>
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">Welcome to my Site!</h1>

                <h2>On this site you can learn all about me and some of my projects!</h2>

                <p>My objectives are to always be expanding my learning as the technlogical field is always changing. Im
                    always ready to take on new challenges and problems in any new and fast paced environments. Overall i love to learn and adapt to new things 
                     as well as solve problems as effectiently as possible.
                </p>
                
                <div id="progressBar"></div>
                <center><a href="/about" class="btn btn-primary">About me!</a></center>
            </div>
    </div>
</div>
