<!--
File Name: projects.ejs
Name: Jarod Colley
StudentID: 100704994
Date: April 4th 2020
-->

<!-- Main Content -->
<div class="row">
    <div class="col">
          <div class="jumbotron" id="contentArea">
              <h1 class="display-4">Interesting Projects Live Here!</h1>
            <div class="card-deck">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../Content/SimpleHome.png" alt="Project Pic" style="width:327px;height:100px;">
                <div class="card-body">
                  <h5 class="card-title">Simple Home Realestate</h5>
                  <p class="card-text">This was a group project of me and 3 other classmates. We were tasked with making a real estate website.
                    This was my first major website I have developed. This project was a php based website with a PostGreSQL database. In this project we included 3 diffrent useres Clients, Agents, and Admins and diffrent user views to go along with them.
                    we randomly generated 1000 fake listings and 1000 different fake users. we then developed functionallity for the client to be able to search, and favorite listings in a paginated view.
                    we also gave the agents functionallity to see all their own listings and close them if need be. Lastly we had admins that could disable users and hide listings. I spent the majority of this project teaching myself how to create searching and favoriting functionalities.
                  </p>
                </div>
              </div>
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="../../Content/durakPic.png" alt="Project Pic" style="width:327px;height:100px;">
                  <div class="card-body">
                    <h5 class="card-title">Durak</h5>
                    <p class="card-text">This project i worked on in a group to develop the card game Durak. This project is a Windows form application using c# with multiple object orientented concepts involved.
                      We made a class library for all the card classes, and i created our own form object for the cards. in the end we ended up with a fully functional card game with diffrent AI difficulty selection. 
                    </p>
                  </div>
                </div>
                  <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../Content/IncIncLogo.png" alt="Project Pic" style="width:200px;height:100px; align-self: center;">
                    <div class="card-body">
                      <h5 class="card-title">Incorperal Incorperated</h5>
                      <p class="card-text">This was an individual project. It was my first ASP.net application that worked in c# with a MS SQL server database. This project was 
                        a payroll tracking system for a fake company that had 2 diffrent typed of employees and paid their employees based on ho many products they produced. This project had login and register functionallity and allowed you to add, remove, update, and delete employees. Keep track of your total number of employees, how much you have spent in payroll costs every pay period,
                        average wage for employees, and kept track of how many products were produced by each employee.
                      </p>
                    </div>
                  </div>
            </div>
          </div>
    </div>
</div>

