<!--
File Name: services.ejs
Name: Jarod Colley
StudentID: 100704994
Date: April 4th 2020
-->

<!--
OOP picture retrieved from https://www.roberthalf.com/blog/salaries-and-skills/4-advantages-of-object-oriented-programming
IT Help pic: retrieved from https://www.longviewsystems.com/itil-service-desk-evolution-help-desk/
Web development pic: retrieved from https://medium.com/swlh/top-web-development-trends-you-need-to-consider-for-your-project-in-2019-37e4c83b691d
-->

<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">An Interesting List of my Services</h1>
                <div class="card-deck">
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="./Content/oop.jpg" style="height:150px;object-fit: fill;">
                      <div class="card-body">
                        <h5 class="card-title">Object Oriented Programming</h5>
                      </div>
                    </div>
        
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="./Content/IT help.jpg" style="height:150px;object-fit: fill;">
                      <div class="card-body">
                        <h5 class="card-title">IT Help</h5>
                      </div>
                    </div>
        
                    <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="./Content/web.jpeg" style="height:150px;object-fit: fill;">
                      <div class="card-body">
                        <h5 class="card-title">Web Development</h5>
                      </div>
                    </div>
        
                  </div>
            </div>
    </div>
</div>

